/* common code start */
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,
p,
ul,ol{
    margin: 0;
}
.section_info h2{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    text-transform: uppercase;
   
}
.section_info p{
    font-size: 16px;
    font-weight: 400;
    color: #c9cbcd;
    line-height: 36px;
  
   
}

/* common code end */
#primary_nav{
    background-color: #02918c;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ffff;
}
#primary_nav #menu ul li a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 13.5px 25px;
    display: inline-block;
}
#banner{
    background-image: url(./../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 728px;
    color:#fff ;
   
}
#banner .img{
    width: 108px;
    margin-bottom: 50px;
 
    
}
#banner h4{
    font-size: 30px;
    font-weight: 400;
}
#banner h1{
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 30px;
    text-transform: uppercase;
}
#banner p{
    font-size: 18px;
   
}
#banner a{
    font-size: 14px;
    font-weight: 800;
    color: #0b1016;
    background-color: #cfc91d;
    padding: 14px 44px;
    
}
 #about{
   margin: 80px 0px 99px;
   text-align: center;
} 
#about .section_info h2{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    text-transform: uppercase;
}
#about .section_info p{
    font-size: 16px;
    font-weight: 400;
    color: #c9cbcd;
    line-height: 41px;
    margin-bottom: 73px;
}
#about .about_box{
    padding: 35px 62px 55px;
    border-right: 2px solid #d9dbdb;
    width: 25%;
   
   
}
#about .about_box:nth-child(4n),
#about .about_box:last-child{
    border: none;
}
#about .about_box h3{
    font-size: 16px;
    font-weight: 800;
    color: #c9cbcd;
    margin: 30px 0px;
}
#about .about_box p{
    font-size: 11px;
    font-weight: 400;
    color: #d1d3d4;
    line-height: 21px;
}
#service {
    padding: 100px 0px;
    background-image: url(./../img/service.png);
    background-size: cover;
    background-position: center;
    height: 724px;
}
#service .service_box{
    margin-top: 40px;
}
#service .service_box h3{
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    margin-bottom: 16px;
    margin-top: 17px;
}
#service .service_box p{
    font-size: 11px;
    font-weight: 400;
    color: #c0c2bf;
    line-height: 19px;
}
#work{
    padding: 108px 0px;
}
#work .work_box{
    margin-top: 78px;
   
   
    
}
.work_box .work_icon{
    position: relative;
}
.work_box  .overlay{
    position: absolute;
    background-color: #108480;
    transform-origin: bottom;  
    transform: scale(0);
    transition: .5s;
    left: 28px;
    top: 20px;
    right: 28px;
    bottom: 20px;
    text-align: center;
    padding: 50px 30px;
   
    
  

}
#work .work_box:hover  .overlay{
    transform: scale(1);
} 
.work_box .overlay h3{
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 15px;
}
.work_box .overlay p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/* contact sectionn start */

#contact .contact_form {
    background-color: #0b0b0b;
    padding: 69px 0px;
    margin-top: 73px;
}
#contact .contact_form input{
    margin-bottom: 30px;
    padding: 18px;
    text-align: center;
    background: none;
    border: none;
    color: #55575b;
    border-bottom: 1px solid #898989;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}
#contact .contact_form input:focus{
    outline: none;
    border-bottom-color: #108480;
}
#contact .contact_form button{
    color: #0b1016;
    background-color: #cfc91d;
    padding: 20px 65px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
     margin-top: 67px ;
}
footer {
    background-color: #000000;
    color:#4a4d50;
    padding: 27px 0;
}